# Mac related files
.DS_Store

# Windows related files
*Thumbs.db

# Testing related files
Testing/testConfig*.json
Testing/results*.mat

# Temporary Matlab files
*.asv
*.m~

# Python cache files
__pycache__

# Other files
*MRI_viewer.mp4
/venv/
xASL_GUI_run.sh
.idea
JSON_LOGIC/ExploreASL_GUI_masterconfig.json

